/* add styles here */

body {
  font:1em Helvetica, sans-serif;
}

h1 {
  margin:0;
  font-weight:normal;
  font-size:2.2em;
}

h2 {
  font-size:1.7em;
}

a.missing {
  color : #d00;
}

#header {
  padding:15px 0px 0px 0px;
  height: 60px;
}

#header h1 {
  padding: 10px;
}

#account {
  position: absolute;
  right: 6px;
  top: 0px;
  padding: 5px;
}

#account form {
  margin:0px;
  padding: 0px;
  border:none;
  background:none;
}

#profile {
  background: #F3F3F3;
  border :1px solid #AABBCC;
  position: absolute;
  right: 10px;
  top: 37px;
}

p.menu {
  margin:4px;
  float:right;
}

p.menu a {
  padding:4px;
  margin:2px;
  border-radius: 5px;
}

#tools div {
  float:right;
  clear:right;
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  border-left:1px solid #AABBCC;
  background:#cde;
  padding:8px;
  max-width:35%;
}

#wiki .wiki {
  width:65%;
  margin:8px;
}

#wiki pre {
  padding:4px;
}
#wiki code {
  background:#ddd;
}

.date {
  font-size:80%
}

#files {
  border-bottom:1px solid #abc;
  border-top:1px solid #abc;
  background:#cde;
  padding:8px;
}

.preview {
  float:right;
  margin-top: 20px;
  font-size:80%;
  width:37%;
  background:#eee;
  padding:4px;
}

.markdown-help {
  background:#F5F5FF;
  border: 1px solid #E5E5EE;
}

.markdown-help pre {
  overflow-x:auto;
  padding:4px;
}

.edit-form {
  float:left;
  width:60%;
}

textarea[name=markdown] {
  padding: 5px;
  width:100%;
}
input[type=submit] {
  margin-top: 2px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.25);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  background: #222 url(../../images/button-overlay.png) repeat-x;
  display: inline-block;
  padding: 2px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #111;
}

form {
  padding:10px;
  margin:10px;
  background-color:#EDEFF0;
	border: 1px solid #b1b1b1;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 30px;
  height : 30px;
  position: relative;
  top: 3px;
  left: 3px;
}

.clear {
  clear:both;
}